/* Add these styles to your CSS file or use a CSS-in-JS solution */

.pager-container {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1a237e; /* Dark blue background color */
    padding: 10px;
  }
  
  .pager-button {
    background-color: #1565c0; /* Darker blue button color */
    color: #fff; /* White text color */
    border: none;
    padding: 8px 16px;
    margin: 0 4px;
    cursor: pointer;
    outline: none;
  }
  #numbers-pager{
    padding: 5px 15px ;
    background-color: #fff;
    outline: none;
    color: crimson;
    outline: none;
    border: none;
    margin: 2px;
    cursor: pointer;
  }
  .pager-button:disabled {
    background-color: #5c6bc0; /* Disabled button color */
    cursor: not-allowed;
  }
  
  .pager-numbers {
    display: flex;
  }
  
  #numbers-pager.active {
    background-color: #0d47a1; /* Active page color */
  }
  